@import "tailwindcss";

:root {
  --font-delius: "Delius", system-ui, sans-serif;
}

html {
  font-family: var(--font-delius);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-delius);
}
